<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802276543754-vp6fo7t6b93sphbe6nme5mj439grskbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802276543754-vp6fo7t6b93sphbe6nme5mj439grskbo</string>
	<key>API_KEY</key>
	<string>AIzaSyCK0Fc5Zt1SpoirjmpFIZgOZZB45CtZFXs</string>
	<key>GCM_SENDER_ID</key>
	<string>802276543754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileappsmrhp.spacecolonyTEST</string>
	<key>PROJECT_ID</key>
	<string>mobileappsmrhp-spacecolony</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileappsmrhp-spacecolony.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802276543754:ios:187f5da87f8d5ad0</string>
	<key>DATABASE_URL</key>
	<string>https://mobileappsmrhp-spacecolony.firebaseio.com</string>
</dict>
</plist>